@using BlazorAppDemo.Data
@inject PizzaService PizzaService

@page "/"

<PageTitle>Index</PageTitle>

@if (!pizzas.Any())
{
    <p>We're finding out what pizzas are available today...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Pizza Name</th>
                <th>Description</th>
                <th>Vegetarian?</th>
                <th>Vegan?</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizzas)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@pizza.Description</td>
                    <td>@pizza.Vegetarian</td>
                    <td>@pizza.Vegan</td>
                    <td>@pizza.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<Pizza> pizzas = new();

    protected override async Task OnInitializedAsync()
    {
        pizzas = await PizzaService.GetPizzasAsync();
    }
}
